n8n/flows/mudai-game-engine.json
{
  "success": true,
  "data": {
    "id": "ZrlDopCOVtBTwhVa",
    "name": "MUD-AI: Game Engine v2",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Chatwoot Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "mudai-game",
          "responseMode": "lastNode"
        },
        "position": [
          200,
          300
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "mudai-game"
      },
      {
        "id": "game-action",
        "name": "Game Action API",
        "parameters": {
          "authentication": "none",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer mudai-dev-token-2026"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "jsonBody": "={{ { phone: ($json.body.body && $json.body.body.sender && $json.body.body.sender.phone_number) || ($json.body.sender && $json.body.sender.phone_number) || ($json.body.conversation && $json.body.conversation.meta && $json.body.conversation.meta.sender && $json.body.conversation.meta.sender.phone_number) || 'unknown', message: ($json.body.body && $json.body.body.content) || $json.body.content || 'oi', conversation_id: String(($json.body.body && $json.body.body.conversation && $json.body.body.conversation.id) || ($json.body.conversation && $json.body.conversation.id) || $json.body.conversation_id || ''), account_id: String(($json.body.body && $json.body.body.account && $json.body.body.account.id) || ($json.body.account && $json.body.account.id) || $json.body.account_id || '1') } }}",
          "method": "POST",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "https://mudai.servinder.com.br/api/v1/game/action"
        },
        "position": [
          500,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "send-reply",
        "name": "Send Reply via Chatwoot",
        "parameters": {
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "RMn8YknPCgN3kzR5Jr6kWh8F"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "jsonBody": "={{ { content: $json.response, message_type: 'outgoing' } }}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "={{ 'https://chatwoot.servinder.com.br/api/v1/accounts/' + ($json.account_id || '1') + '/conversations/' + ($json.conversation_id || '') + '/messages' }}"
        },
        "position": [
          800,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      }
    ],
    "connections": {
      "Chatwoot Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Game Action API",
              "type": "main"
            }
          ]
        ]
      },
      "Game Action API": {
        "main": [
          [
            {
              "index": 0,
              "node": "Send Reply via Chatwoot",
              "type": "main"
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
}
